@CHARSET "UTF-8";

li {
	list-style-type:none;
	margin-bottom: 13px;
	clear: both;
}

li label {
	width: 100px;
	line-height: 34px;
	display: block;
	float: left;
}

li i {
	color: #7f7f7f;
	padding-left: 20px;
	font-style: normal;
}

li cite {
	display: block;
	padding-top: 10px;
}

.btn {
	width: 137px;
	height: 35px;
	background: url(../images/btnbg.png) no-repeat;
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	cursor: pointer;
}